# Ignore build and temp files

bin/

obj/

.vs/

*.user

*.log

*.tmp

*.param

*.sln

*.database
 
 
# Ignore deployment packages



*.zip

*.deploy*

*.database


 
# Ignore user-specific project settings

*.dtproj.user

*.param

*.sln
 
