# Ignore build and temp files

bin/

obj/

.vs/

*.user

*.log

*.tmp

*.param

*.sln

*.database
 
 
# Ignore deployment packages

*.ispac

*.zip

*.deploy*

*.database

*.dtproj
 
# Ignore user-specific project settings

*.dtproj.user

*.param

*.sln
 
